/*card events*/
.card-left {
  border: 5.5px solid #BF041C;
  background: linear-gradient(to right, black, black); ;
  border-radius: 10px;
  color: white;
}

.card-left:before{
    content: '';
    background:url('images/hcc_logo_card.png');
    background-size:cover;
    position:absolute;
    width: 100px;
    height: 27px;
    margin-left:-10px;
    bottom: 10px;
}

.card-left:hover {
  transform: scale(1.1);
}


/*card events*/
.image-right {
  border: 3.5px solid #BF041C;
  background: linear-gradient(to right, black, black); ;
  border-radius: 10px;
  color: white;
  transition: all 0.5s ease-in-out;
  position: relative;
  
}
